body {color: #333}
.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
#quickBanner {
    margin-top: 20px;
    font-size: 14px;
}
#quickBanner::after { content: ""; display: block; clear: both; }

/* -------------------- startUp -------------------- */
#startUp {float: left;}
#startUp > li {float: left;}

#startUp > li > a {
    color: inherit;
    text-decoration: none;
    line-height: 30px;
    padding: 0 25px 0 20px; /* 백그라운드 이미지때문에 밀어서 공간을 만듦 */
}

#startUp > li:nth-child(1) > a {background: url("../images/family_icon1.png") no-repeat; background-position: -3px;}
#startUp > li:nth-child(2) > a {background: url("../images/family_icon2.png") no-repeat; background-position: -3px;}
#startUp > li:nth-child(3) > a {background: url("../images/family_icon3.png") no-repeat; background-position: -3px;}


/* -------------------- login -------------------- */
#login {float: right;}
#login > li {float: left;}

#login > li > a {
    color: inherit;
    text-decoration: none;
    padding-right: 3px; 
    line-height: 30px;
}

#login > li:nth-child(2) {padding: 0 10px;}
#login > li:nth-child(4) {padding-left: 10px;}

#logo {
    width: 100px;
    margin: 0 auto;
}
#logo > img {width: 100px;}


/* -------------------- menu -------------------- */
#nav {margin-top: 20px; position: relative;}

#menu::after {content: ""; display: block; clear: both;}
#menu {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#menu > li {
    width: 200px;
    float: left; 
    
    position: relative; /* 서브메뉴 position으로 인해 지정 */
}
#menu > li > a {
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 28px 0;
}

#menu > li > a:hover {
    color: white;
    background-color: #ba000c;
    transition-duration: 0.2s;
}

/* -------------------- submenu -------------------- */
.submenu {
    position: absolute;
    top: 100%; left: 0; right: 0;
    z-index: 2;
    display: none;
}

.submenu > li > a {
    color: #333;
    text-decoration: none;
    padding: 15px 0;
    display: block;
}

.submenu > li > a:hover {
    background-color: #ddd;
    transition-duration: 0.13s;
}

#submenu_bg{
    position: absolute;
    top: 100%; left: 0; right: 0;

    /* 높이는 자바스키립트에서 지정 */
    background-color: #fff;
    display: none;
    z-index: 1;
}


/* -------------------- imgSlide -------------------- */
#imgSlide {
    width: 1920px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;

    position: relative; /*button을 위한 relative 지정*/
}

#slide::after{content: ""; display: block; clear: both;}
#slide {width: 5760px;}

#slide > li{
    float: left;
    width: 1920px;
}
#slide > li > img {
    width: 100%;
    display: block;
}

#imgSlide > button {
    color: white;
    opacity: 0.3;
    font-size: 80px;
    padding: 20px 40px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#imgSlide > button:nth-child(2) {left: 20px;}
#imgSlide > button:nth-child(3) {right: 20px;}

#imgSlide > button:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}


/* content */
/* -------------------- hollysMall -------------------- */
#hollysMall::after {content: ""; display: block; clear: both;}
#hollysMall {
    background: url(../images/hollysMall.png) no-repeat;
    margin-top: 30px;
}

.push_menu {
    width: 240px;
    margin-top: 130px;
    float: left;
    
    position: relative;
}
.push_menu > img {
    display: block;
    width: 100%;
}

.push_menu > p:nth-child(1) {
    font-size: 18px;
    font-weight: bold; 
    color: #ba000c;
    border: 2px solid #ba000c;
    border-radius: 50%;
    background-color: white;
    padding: 24px 14px;
    z-index: -1;

    position: absolute;
    right: 27px; top: 0;
}
.push_menu > p:nth-child(3) {font-size: 14px; text-align: center;}

.push_menu:nth-child(4) > p:nth-child(1) {background-color: #ba000c; color: white;}
.push_menu:nth-child(5) > p:nth-child(1) {background-color: #ba000c; color: white;}


/* -------------------- membership -------------------- */
#membership {margin-top: 70px;}
#membership > img:nth-child(1) {margin-right: 5px;}


/* hollys notice */
#hollys_notice {margin-top: 30px;}
#hollys_notice::after {content: ""; clear: both; display: block;}
#hollys_notice > hr {width: 500px; margin: 0 auto; background: #ddd;}

/* -------------------- eventBanner -------------------- */
#eventBanner {
    width: 600px;
    overflow: hidden; float: left;
    
    position: relative; /* 이벤트배너 한자리에 배치 */
}
#eventBanner::after {content: ""; clear: both; display: block;}

#eventBanner > ul {width: 2400PX;}
#eventBanner > ul::after {content: ""; clear: both; display: block;}

#eventBanner > ul > li {float: left;}
#eventBanner > ul > li > img {
    display: block;
    width: 100%;
}

/* 인디케이터 영역 */
#indicator {
    position: absolute;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
}
#indicator::after {content: ""; display: block; clear: both;}

#indicator > li {
    float: left;
    margin: 0 3px;

    width: 16px;
    height: 16px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 0.3;
    transition-duration: 400ms;
    cursor: pointer;
}
#indicator > li:hover {opacity: 1;}

#indicator > li.on {
    opacity: 1;
    background-color: white;
    cursor: default;
}

#indicator > li > span {display: none;}


/* -------------------- notice -------------------- */
.notice {
    float: right; 
    width: 540px; 
    padding: 30px;
    cursor: pointer;
}

.notice > p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 19px;
}
.notice > p:nth-child(1) {
    padding-left: 30px;
    background: url(../images/notice_icon.png) no-repeat;
}
.notice > p:nth-child(2) {float: right;}

.notice > ul > li {
    line-height: 30px;
    padding-left: 20px;
}
.notice > ul > li > span {float: right;}
.notice > ul > li > a {
    text-decoration: none;
    color: #333;
    float: left;
    
    display: block;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice > ul > li:hover > a {text-decoration: underline;}


/* -------------------- img banner -------------------- */
#img_banner {
    margin-top: 50px; 
    position: relative; /*#store의 검색창 absolute로 인해 지정함(근데 왜 position은 '#img_banner > img:nth-child(2)'에서 안먹힐까?)*/
}
#img_banner > img {display: inline-block;}
#img_banner > img:nth-child(2) {padding: 0 23px;}

/* 크롬, 익스플로러, 파이어폭스 적용 */
input:-ms-input-placeholder {color: #999;}
input::-webkit-input-placeholder {color: #999;}
input::-moz-placeholder {color: #999;}

#store {
    width: 270px;
    height: 30px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);

    position: absolute;
    bottom: 20%; left: 38.5%;
}

#store > input, #store > button {
    border: none;
    background: none;
    outline: none;
}
#store > input {
    width: 170px;
    font-size: 15px;
    padding: 7px;
    color: white;   
    float: left;
}
#store > button {
    width: 50px;
    padding-top: 2.5px;
    cursor: pointer;
    float: right;
}


/* -------------------- topButton -------------------- */
#top_button {
    position: fixed;
    right: 4%; bottom: 6%;
    display: none;
}


/* -------------------- footer -------------------- */
#footer {
    margin-top: 50px;
    background-color: #333;
    padding: 40px;
}
#footer > .wrap {background: url(../images/f_logo.png) no-repeat; background-position: 0 center;}
#f_menu, #copyright {margin-left: 160px;}

#f_menu::after {content: ""; display: block; clear: both;}
#f_menu {font-size: 18px;}
#f_menu > li {
    float: left;
    line-height: 70px;
}

#f_menu > li:nth-child(even) {
    font-size: 10px;
    color: white;
    padding: 0 7px;
}

#f_menu > li > a {
    color: white;
    text-decoration: none;
}
#f_menu > li > a:hover {font-weight: bold;}


#copyright {color: #888;}
#copyright > p {line-height: 20px;}
#copyright > p:nth-child(3) {padding: 15px 0 30px 0;}
